.link-items {
  text-decoration: none;
}
@media screen and (max-width: 759px) {
  .book-item-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 200px;
    width: 350px;
    background-color: #ffffff;
    margin: 10px;
  }
  .listed-items {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 200px;
    width: 350px;
    background-color: #ffffff;
  }
  .image-content-containers {
    width: 150px;
    height: 200px;
    border-radius: 8px;
    background: #ffffff;
    margin-right: 15px;
  }
  .cover-pics {
    width: 150px;
    height: 200px;
    border-radius: 8px;
  }
  .status-rating-author-container {
    width: 146px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px;
  }
  .title-author-name-heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .title-heading {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #334155;
  }
  .author-name-title {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: #475569;
  }
  .rating-container-items {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 50px;
    width: 150px;
    background-color: transparent;
  }
  .rating-heading {
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    color: #475569;
    margin-top: 30px;
  }
  .star-rating-container-items {
    width: 39px;
    height: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .icon-star {
    size: 15;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 5px;
  }
  .ratings {
    font-family: HK Grotesk;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #334155;
  }
  .status-containers {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .status-headings {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    color: #475569;
    margin-top: 13px;
    margin-right: 5px;
  }
  .status-paragraphs {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    color: #0284c7;
  }
}
@media screen and (min-width: 776px) {
  .book-item-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 250px;
    width: 350px;
    background-color: aliceblue;
    flex-wrap: wrap;
    margin: 10px;
  }
  .listed-items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 250px;
    width: 650px;
    background-color: transparent;
  }
  .image-content-containers {
    width: 120px;
    height: 185px;
    border-radius: 8px;
  }
  .cover-pics {
    width: 150px;
    height: 185px;
    border-radius: 8px;
  }
  .title-author-name-heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100px;
    width: 200px;
  }
  .status-rating-author-container {
    width: 152px;
    height: 200px;
  }
  .title-heading {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: #334155;
  }
  .author-name-title {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: #475569;
  }
  .rating-container-items {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 30px;
    width: 150px;
  }
  .rating-heading {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    color: #475569;
    margin-top: 18px;
    margin-right: 10px;
  }
  .star-rating-container-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50px;
    height: 50px;
  }
  .icon-star {
    margin-bottom: 1px;
  }
  .ratings {
    font-family: HK Grotesk;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #334155;
    margin-top: 15px;
  }
  .status-containers {
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .status-headings {
    margin-top: 15px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: #475569;
  }
  .status-paragraphs {
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: #0284c7;
    margin-left: 5px;
  }
}
