@media screen and (max-width: 786px) {
  .small-screen-listed-item-detail {
    list-style-type: none;
  }
  .book-shelves-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    width: 500px;
  }
  .left-side-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100px;
    max-width: 760px;
    background-color: transparent;
    margin-top: 45px;
  }
  .right-side-card-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100px;
    min-width: 200px;
  }
  .top-card-heading {
    display: none;
  }
  .search-input-container {
    width: 264px;
    height: 36px;
    top: 80px;
    left: 24px;
    border-radius: 0px, 3px, 3px, 0px;
    color: #334155;
    order: 1;
    border: 1px solid #000000;
  }
  .search-inputs {
    width: Hug (47px);
    height: Hug (24px);
    gap: 4px;
    border: none;
    outline: none;
    margin-right: 10px;
  }
  .icon-button {
    width: 85px;
    height: 34px;
    color: #94a3b8;
    border: none;
    outline: none;
  }
  .left-side-listed-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100px;
    width: 500px;
    margin-top: 15px;
    background-color: transparent;
  }
  .listed-item-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    list-style-type: none;
  }
  .left-side-heading {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #334155;
  }

  .active-filters {
    width: Hug (62px);
    height: Hug (24px);
    top: 172px;
    left: 83px;
    padding: 4px, 8px, 4px, 8px;
    border-radius: 25px;
    border: 1px;
    color: #0284c7;
    background: #ffffff;
    border: 1px solid #0284c7;
  }
  .failure-view-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .failure-view {
    width: 476px;
    height: 327px;
    top: 310px;
    left: 682px;
  }
  .failure-heading {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    background: #475569;
  }
  .retry-button {
    width: Hug (112px);
    height: Hug (48px);
    top: 683px;
    left: 664px;
    border-radius: 4px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    background: #ffffff;
  }
  .failures-heading {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    background: #334155;
  }
  .activeItem {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #f8fafc;
    background-color: #0284c7;
  }
  .all-selected-books-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    background-color: transparent;
    order: 2;
  }
}

@media screen and (min-width: 787px) {
  .book-shelves-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    width: 100vw;
  }
  .loader-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    margin-left: 500px;
  }
  .card-container-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
  }
  .left-side-container {
    width: 256px;
    height: 100vh;
    box-shadow: 10px 10px 8px 10px #888888;
  }
  .left-side-heading {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 10px;
    padding: 10px;
  }
  .left-side-listed-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 300px;
    width: 250px;
    list-style-type: none;
  }
  .activeItem {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    background: #0284c7;
    color: #ffffff;
    border: none;
    outline: none;
  }
  .active-filters {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    border: none;
    outline: none;
  }
  .listed-item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .right-side-card-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    width: 80vw;
    background-color: #ffffff;
    box-shadow: 10px 10px 8px 10px #888888;
    padding: 20px;
    margin-bottom: 20px;
  }
  .top-card-container {
    height: 10vh;
    width: 60vw;
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .top-card-heading {
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: #334155;
  }
  .search-input-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 264px;
    height: 36px;
    top: 137px;
    left: 1026px;
    border: 1px solid #000000;
  }
  .search-inputs {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #94a3b8;
    border: none;
    outline: none;
    height: 34px;
  }
  .icon-button {
    width: 100px;
    height: 34px;
    border: none;
    outline: none;
  }
  .all-selected-books-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 60vw;
    background-color: #ffffff;
  }
  .ordered-list-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 60vw;
    background-color: #ffffff;
  }
  .failure-view-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .failure-view {
    width: 476px;
    height: 327px;
    top: 310px;
    left: 682px;
  }
  .failure-heading {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    background: #475569;
  }
  .retry-button {
    width: Hug (112px);
    height: Hug (48px);
    top: 683px;
    left: 664px;
    border-radius: 4px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    background: #ffffff;
  }
  .failures-heading {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    background: #334155;
  }
}
